<p id="notice"><%= notice %></p>

<p>
  <strong>Album art:</strong>
  <%= image_tag(@audio.album_art_url, :width => 600) if @audio.album_art.present? %>
</p>

<p>
  <strong>Title:</strong>
  <%= @audio.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @audio.description %>
</p>

<p>
  <strong>Release date:</strong>
  <%= @audio.release_date %>
</p>

<p>
  <strong>Artist name:</strong>
  <%= @audio.artist_name %>
</p>

<p>
  <strong>Audio file:</strong>
  <%= @audio.audio_file %>
</p>

<%= link_to 'Edit', edit_audio_path(@audio) %> |
<%= link_to 'Back', audios_path %>
