<section class="views text-center">
  <h1 class="page-header"><span class="glyphicon glyphicon-dashboard head"></span>Welcome to the Admin Dashboard</h1>
  <ul>
    <li class="big-button"><%= link_to 'UPLOAD NEW SONG', new_audio_path %></li>
    <li class="big-button"><%= link_to 'UPLOAD NEW VIDEO', new_video_path %></li>
    <li class="big-button"><%= link_to 'UPLOAD NEW PHOTO', new_photo_path %></li>
    <li class="big-button"><%= link_to 'UPLOAD NEW EVENT', new_event_path %></li>
    <li class="big-button"><%= link_to 'UPLOAD NEW INFO', new_info_path %></li>
  </ul>
</section>